/*Para todo o site*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    background-color: #0B0B3B;
}

/*Header*/
header {
    background-color: #6EFFFF;
    display: flex;
    justify-content: space-between;
}

#primeira-lista {
    width: 50%;
}

#primeira-lista>li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2%;
    font-family: "Pixelify Sans";
    font-size: 20px;
    padding-top: 1%;
}

header>ul>li {
    list-style: none;
}

header>ul>li>a {
    text-decoration: none;
    color: black;
}

#nas-bordas {
    display: flex;
    justify-content: end;
    padding-right: 2%;
}

#nas-bordas>li {
    text-decoration: none;
}

/*/Header*/
/*Introdução - body*/

.introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#thy-trio {
    width: 735px;
    height: 534px;
    text-align: center;
}

#thy-trio img {
    width: 735px;
    height: 534px;
    transform: rotate(-90deg)  scale(0.7);
}

#fredoom_box {
    background-image: url(Deltarune_-_User_Interface_-_HUD-removebg-preview\ 2.png);
    width: 800px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;

}

#fredoom_box h1 {
    color: aliceblue;
    padding: 5%;
    font-family: "Jim Nightshade", cursive;
    font-weight: lighter;
    font-size: 50px;
}

/*/Introdução*/
/*Main Products - body*/
.main-products {
    background-image: linear-gradient(#73094D, #00152F);
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    height: 1000px;
    display: grid;
    grid-template-areas: "sec01 sec1_5 sec02"
        "sec01 sec1_5 sec02";
}


#sec-1-preview {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    align-items: center;
    grid-area: sec01;
}

#sec-1-preview img {
    background-color: rgba(240, 248, 255, 0.303);
    width: 290px;
    height: 290px;
    grid-column-start: 2;
    grid-column-end: 2;
}

#Block1 {
    background-color: #FFF200;
    width: 200px;
    height: 75px;
    margin-top: -5%;
    z-index: 10;
}

#Block2 {
    background-color: #FFF200;
    width: 200px;
    height: 75px;
    margin-top: -5%;
    z-index: 10;
}

#sec-1o5-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: sec1_5;
}

#sec-1o5-preview img {
    width: 800px;
    height: 585px;
}

#Block3 {
    background-color: #FFAEC9;
    width: 200px;
    height: 75px;
    margin-top: -5%;
    z-index: 10;
}

#sec-2-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    grid-area: sec02;
}

#sec-2-preview img {
    background-color: rgba(240, 248, 255, 0.303);
    width: 290px;
    height: 290px;
    grid-column-start: 6;
}

#Block4 {
    background-color: #FFF200;
    width: 200px;
    height: 75px;
    margin-top: -5%;
    z-index: 10;
}

#Block5 {
    background-color: #FFF200;
    width: 200px;
    height: 75px;
    margin-top: -5%;
    z-index: 10;
}

/*/Main Products*/
/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #496D41;
}

.Footer-info {
    display: flex;
    font-size: 30px;
}

.Footer-info>h1 {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

/*/Footer*/